@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Regular.ttf") format("truetype");
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-barlow: "Barlow", sans-serif;

  --color-latar: #f3f4f6;
  --color-teks: #374151;
  --color-teks-samping: #6b7280;
  --color-garis: #e5e7eb;
  --color-hijau: #00B074;
  --color-merah: #ef4444;
  --color-biru: #3b82f6;
  --color-kuning: #f59e0b;
}

body {
  @apply font-barlow bg-latar;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.2s ease-out;
}

.menu-link {
  @apply flex items-center p-3 rounded-lg text-gray-600 hover:bg-green-100 hover:text-hijau transition;
}

.menu-link.active {
  @apply bg-green-200 text-hijau font-semibold;
}